<div style="display: flex;flex-direction: column; justify-content: center;align-items: center; margin-top: 2.5rem;">
  <carousel>
    <slide>
      <img src="../../assets/img/home/furniture1.jpg" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Description1</h3>
        <p>asdf</p>
      </div>
    </slide>
    <slide>
      <img src="../../assets/img/home/furniture2.jpg" alt="second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Description2</h3>
        <p>qwer</p>
      </div>
    </slide>
     <slide>
      <img src="../../assets/img/home/furniture3.jpg" alt="third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Description3</h3>
        <p>zxcv</p>
      </div>
    </slide>
  </carousel>
</div>
