<div class="dialog">
  <h1 mat-dialog-title>{{ title }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="furnitureForm" (ngSubmit)="save()" id="furnitureForm" class="dialog-content">
      <mat-error *ngIf="error && error.non_field_errors">{{ error.non_field_errors }}</mat-error>
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" required>
        <mat-error *ngIf="error && error.code">{{ error.code }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Manufacturer</mat-label>
        <input matInput formControlName="manufacturer" required>
        <mat-error *ngIf="error && error.manufacturer">{{ error.manufacturer }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Type" formControlName="type" required>
          <mat-option *ngFor="let type of types" value="type.name">{{ type.verbose_name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="error && error.type">{{ error.type }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-checkbox formControlName="is_public">Is public</mat-checkbox>
        <mat-error *ngIf="error && error.is_public">{{ error.is_public }}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" type="submit" form="furnitureForm">Save</button>
  </div>
</div>
