<div class="dialog">
  <h1 mat-dialog-title>Register</h1>
  <div mat-dialog-content class="dialog-content">
    <mat-error *ngIf="error && error.non_field_errors">{{ error.non_field_errors }}</mat-error>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" required>
      <mat-error *ngIf="error && error.username">{{ error.username }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" required>
      <mat-error *ngIf="error && error.email">{{ error.email }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type='password' [(ngModel)]="password1" required>
      <mat-error *ngIf="error && error.password1">{{ error.password1 }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type='password' [(ngModel)]="password2" required>
      <mat-error *ngIf="error && error.password2">{{ error.password2 }}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="register()">Register</button>
  </div>
</div>
