.profile-content {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.tables-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.avatar {
  background-size: cover;
  height: 6rem;
  width: 6rem;
}

.profile-card {
  margin-right: 2rem;
  height: 350px;
}

table {
  width: 100%
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}
