<mat-toolbar color="primary">
  <div class="brand">
    <span routerLink="/">Smart furniture</span>
  </div>
  <button *ngIf="!currentUserId" mat-button color="primary" (click)="openDialog('login')" class="nav-item">
    Login
  </button>
  <button *ngIf="!currentUserId" mat-button color="primary" (click)="openDialog('register')" class="nav-item">
    Register
  </button>
  <button *ngIf="currentUserId" mat-button color="primary" class="nav-item" routerLink="/profile/{{ currentUserId }}">
    Profile
  </button>
  <button *ngIf="currentUserId" mat-button color="primary" (click)="logout()" class="nav-item" routerLink="/">
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
