<div class="dialog">
  <h1 mat-dialog-title>{{ 'TYPE.' + data.type|translate }} - {{ data.code }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="applyOptionsForm" (ngSubmit)="apply()" id="applyOptionsForm"
                                                              class="dialog-content" *ngIf="options.length; else noOptions">
      <mat-error *ngIf="error && error.non_field_errors">{{ error.non_field_errors }}</mat-error>
      <mat-form-field>
        <small *ngIf="curr_opts">
          {{ 'ACTION.USING'|translate }} {{ curr_opts.name }}
        </small>
        <mat-select placeholder="{{ 'APP.OPTIONS'|translate }}" formControlName="options" required>
          <mat-option *ngFor="let option of options" [value]="option.id" >{{ option.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="error && error.options">{{ error.options }}</mat-error>
      </mat-form-field>
    </form>
    <ng-template #noOptions>
      {{ 'ACTION.NO_OPTIONS'|translate }}
    </ng-template>
    <div *ngIf="error && error.detail">
      {{ error.detail }}
      <div *ngIf="status === 405">
        <span>
          {{ 'ACTION.ASK' }}
        </span>
        <button mat-flat-button color="primary" class="control-button" (click)="yes()" *ngIf="options.length">
          {{ 'ACTION.YES'|translate }}
        </button>
        <button mat-flat-button color="primary" class="control-button" (click)="no()" *ngIf="options.length">
          {{ 'ACTIONS.NO'|translate }}
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" type="submit" form="applyOptionsForm" *ngIf="options.length">
      {{ 'ACTIONS.APPLY'|translate }}
    </button>
    <button mat-flat-button color="warn" class="control-button" *ngIf="options.length && curr_opts" (click)="discard()">
      {{ 'ACTIONS.DISCARD'|translate }}
    </button>
  </div>
</div>
